<div class="allPlayers">
    <div class="WDP01_CAM_01">
        <app-player [ipAdd]="WDP01_CAM_01"></app-player>
    </div>
    <div class="WDP01_CAM_02">
        <app-player [ipAdd]="WDP01_CAM_02"></app-player>
    </div>
    <div class="WDP12_CAM_01">
        <app-player [ipAdd]="WDP12_CAM_01"></app-player>
    </div>
    <div class="player">
        <app-player [ipAdd]="WDP12_CAM_02"></app-player>
    </div>
    <div class="WDP12_CAM_02">
        <app-player [ipAdd]="WDP22_CAM_01"></app-player>
    </div>
    <div class="WDP22_CAM_01">
        <app-player [ipAdd]="WDP22_CAM_02"></app-player>
    </div>
    <div class="WIP01_CAM_01">
        <app-player [ipAdd]="WIP01_CAM_01"></app-player>
    </div>
    <div class="WIP12_CAM_01">
        <app-player [ipAdd]="WIP12_CAM_01"></app-player>
    </div>
    <div class="WIP12_CAM_02">
        <app-player [ipAdd]="WIP12_CAM_02"></app-player>
    </div>
    <div class="PA1_PA2_CAM_01">
        <app-player [ipAdd]="PA1_PA2_CAM_01"></app-player>
    </div>
    <div class="PA3_PA4_CAM_01">
        <app-player [ipAdd]="PA3_PA4_CAM_01"></app-player>
    </div>
    <div class="PA5_PA6_CAM_01">
        <app-player [ipAdd]="PA5_PA6_CAM_01"></app-player>
    </div>
</div>