<div class="allPlayers">
    <div class="WDP01_CAM_01">
        <app-player 
            [ipAdd]="WDP01_CAM_01" 
            [camName]="'WDP01_CAM_01'" 
            [playerWidth]="playerWidth"></app-player>
    </div>
    <div class="WDP01_CAM_02">
        <app-player 
            [ipAdd]="WDP01_CAM_02" 
            [camName]="'WDP01_CAM_02'" 
            [playerWidth]="playerWidth"></app-player>
    </div>
    <div class="WDP12_CAM_01">
        <app-player 
            [ipAdd]="WDP12_CAM_01" 
            [camName]="'WDP12_CAM_01'" 
            [playerWidth]="playerWidth"></app-player>
    </div>
    <div class="player">
        <app-player 
            [ipAdd]="WDP12_CAM_02" 
            [camName]="'WDP12_CAM_02'" 
            [playerWidth]="playerWidth"></app-player>
    </div>
    <div class="WDP12_CAM_02">
        <app-player 
            [ipAdd]="WDP22_CAM_01" 
            [camName]="'WDP22_CAM_01'" 
            [playerWidth]="playerWidth"></app-player>
    </div>
    <div class="WDP22_CAM_01">
        <app-player 
            [ipAdd]="WDP22_CAM_02" 
            [camName]="'WDP22_CAM_02'" 
            [playerWidth]="playerWidth"></app-player>
    </div>
    <div class="WIP01_CAM_01">
        <app-player 
            [ipAdd]="WIP01_CAM_01" 
            [camName]="'WIP01_CAM_01'" 
            [playerWidth]="playerWidth"></app-player>
    </div>
    <div class="WIP12_CAM_01">
        <app-player 
            [ipAdd]="WIP12_CAM_01" 
            [camName]="'WIP12_CAM_01'" 
            [playerWidth]="playerWidth"></app-player>
    </div>
    <div class="WIP12_CAM_02">
        <app-player 
            [ipAdd]="WIP12_CAM_02" 
            [camName]="'WIP12_CAM_02'" 
            [playerWidth]="playerWidth"></app-player>
    </div>
    <div class="PA1_PA2_CAM_01">
        <app-player 
            [ipAdd]="PA1_PA2_CAM_01
            " [camName]="'PA1_PA2_CAM_0
            1'" [playerWidth]="playerWidth"></app-player>
    </div>
    <div class="PA3_PA4_CAM_01">
        <app-player 
            [ipAdd]="PA3_PA4_CAM_01
            " [camName]="'PA3_PA4_CAM_0
            1'" [playerWidth]="playerWidth"></app-player>
    </div>
    <div class="PA5_PA6_CAM_01">
        <app-player 
            [ipAdd]="PA5_PA6_CAM_01
            " [camName]="'PA5_PA6_CAM_0
            1'" [playerWidth]="playerWidth"></app-player>
    </div>
</div>