<div class="players">
    <app-player [ipAdd]="WDP01_CAM_01"></app-player>
    <app-player [ipAdd]="WDP01_CAM_02"></app-player>
    <app-player [ipAdd]="WDP12_CAM_01"></app-player>
    <app-player [ipAdd]="WDP12_CAM_02"></app-player>
    <app-player [ipAdd]="WDP22_CAM_01"></app-player>
    <app-player [ipAdd]="WDP22_CAM_02"></app-player>
    <app-player [ipAdd]="WIP01_CAM_01"></app-player>
    <app-player [ipAdd]="WIP12_CAM_01"></app-player>
    <app-player [ipAdd]="WIP12_CAM_02"></app-player>
    <app-player [ipAdd]="PA1_PA2_CAM_01"></app-player>
    <app-player [ipAdd]="PA3_PA4_CAM_01"></app-player>
    <app-player [ipAdd]="PA5_PA6_CAM_01"></app-player>
</div>